<div class="crew container box">
     <div class="row">
    <h1 class="posts-crew">An amazing crew</h1>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <%= image_tag "mg.jpg", width: "100" %>
      <p>Marie-Gabrielle</p>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <%= image_tag "eden.jpeg", width: "100" %>
      <p>Eden</p>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <%= image_tag "melanie.jpg", width: "100" %>
      <p>Mélanie</p>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <%= image_tag "margo.jpg", width: "100" %>
      <p>Margo</p>
    </div>
     <div class="col-xs-6 col-sm-3 col-md-2">
      <%= image_tag "dima.jpeg", width: "100" %>
      <p>Dima</p>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <%= image_tag "antoine.jpg", width: "100" %>
      <p>Antoine</p>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <%= image_tag "martin.jpeg", width: "100" %>
      <p>Martin</p>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <%= image_tag "victor.jpg", width: "100" %>
      <p>Victor</p>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <%= image_tag "boris.jpg", width: "100" %>
      <p>Boris</p>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <%= image_tag "julien.jpeg", width: "100" %>
      <p>Julien</p>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <%= image_tag "lionel.jpg", width: "100" %>
      <p>Lionel</p>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <%= image_tag "adrien.jpg", width: "100" %>
      <p>Adrien</p>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <%= image_tag "nick.jpg", width: "100" %>
      <p>Nick</p>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <%= image_tag "salim.jpg", width: "100" %>
      <p>Salim</p>
    </div>
  </div>
</div>

